{{template "head"}}
{{template "navbar_user"}}
{{template "body"}}

<div text-align="center">
    <div class="hero-text">
        <h2 style="color:darkcyan"><i class="fas fa-hamburger"></i> Add Item</h2>
        <form method="POST">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name ="name" placeholder="*Item Name" type="text" pattern="^[a-zA-Z0-9 ]+$" title="Only Alphanumerical Allowed" required>
            </div>
            <div class="form-group">
                *Inventory:
                <input autocomplete="off" name="inv" type="text" list="invs" placeholder="Select/Enter New" pattern="^[a-zA-Z0-9 ]+$" title="Only Alphanumerical Allowed" required>
                <datalist id="invs">
                    {{range $inv := .Inv}}
                    <option value={{$inv.ID}}>{{$inv.Name}}</option>
                    {{end}}
                </datalist>
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" name ="icon" placeholder="FontAwesomeIcon" type="text" pattern="^[a-zA-Z0-9- ]+$" title="Only Alphanumerical Allowed">
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" name ="category" placeholder="Category" type="text" pattern="^[a-zA-Z0-9- ]+$" title="Only Alphanumerical Allowed">
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" name ="storage" placeholder="Storage" type="text" pattern="^[a-zA-Z0-9- ]+$" title="Only Alphanumerical Allowed">
            </div>
            <div class="form-group">
                <input autocomplete="off" class="form-control" name ="expiry" placeholder="ExpiryDate" type="date">
            </div>
            <div class="form-group">
                Idling Status:
                <select name="idle"><option value="yes">Yes</option><option value="" selected>No</option></select>
            </div>
            <div class="form-group">
                Days before expiry to notify (leave blank for no notification):<br>
                <input autocomplete="off" class="form-control" name ="notify" placeholder="Days before expiry" type="number" min="0">
            </div>
            <button id="btn" type="submit">Add</button>
        </form>
    </div>
</div>
{{template "footer"}}